body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  background: white;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  outline: none;
}

h1, h2, h3 {
  color: #012647;
}